.primary-button{
	height: 40px;
	width: 40px;
	padding: 12px;
	background: var(--accent);
	border-radius: 2px;
	cursor: pointer;
	transition: box-shadow 0.25s, transform 0.25s;
}
.secondary-button{
	height: 40px;
	width: 40px;
	padding: 12px;
	background: var(--light-3);
	border-radius: 2px;
	cursor: pointer;
	transition: transform 0.25s;
}

.search-buttons{
	position: fixed;
	bottom: 352px;
	left: 20px;
	z-index: 5;
	transform: translate3d(20px, 0px, 0px);
	opacity: 0;
	transition: transform 1s, opacity 1s;
}
.search-buttons img{
	margin-right: 7px;
	float: left;
}
.search-buttons img:hover, .radio-button:hover, .player-button:hover{
	transform: translate3d(0px, -3px, 0px);
}

.player-buttons{
	position: fixed;
	bottom: 20px;
	left: 278px;
	z-index: 5;
	transform: translate3d(20px, 0px, 0px);
	transition: transform 1s, opacity 1s;
	opacity: 0;
}
.player-button{
	display: block;
	transition: transform 0.25s;
}

.extra-buttons{
	position: fixed;
	top: 20px;
	right: 322px;
	z-index: 5;
	transform: translate3d(-20px, 0px, 0px);
	opacity: 0;
	transition: transform 1s, opacity 1s;
}
.mail-button{
	position: absolute;
	top: 0px;
	right: 47px;
}
.settings-button{
	position: absolute;
	top: 0px;
	right: 0px;
}
.settings-button:hover, .mail-button:hover, .weekly-button:hover{
	transform: translate3d(0px, 3px, 0px);
}