.primary-button{
	height: 40px;
	width: 40px;
	padding: 12px;
	background: var(--accent);
	border-radius: 2px;
	cursor: pointer;
	transition: transform 0.25s;
	box-shadow: 0px 2px 0px #3c6dbc;
}
.secondary-button{
	height: 40px;
	width: 40px;
	padding: 12px;
	background: var(--light-3);
	border-radius: 2px;
	cursor: pointer;
	transition: transform 0.25s;
	box-shadow: 0px 2px 0px #c1c2c9;
}

.button-disabled{
	display: none;
}
.button-disabled:hover{
	transform: translate3d(0px, 0px, 0px) !important;
}

.search-buttons{
	position: fixed;
	bottom: 354px;
	left: 20px;
	z-index: 5;
	transform: translate3d(20px, 0px, 0px);
	opacity: 0;
	transition: transform 1s, opacity 1s;
}
.search-buttons img{
	margin-right: 7px;
	float: left;
}
.search-buttons img:hover, .radio-button:hover, .player-button:hover{
	transform: translate3d(0px, -3px, 0px);
}

.back-button{
	position: fixed;
	bottom: 302px;
	left: 278px;
	z-index: 5;
	opacity: 0;
	transform: translate3d(-50px, 0px, 0px);
	transition: transform 0.25s, opacity 0.25s;
}
.back-button img:hover{
	transform: translate3d(3px, 0px, 0px);
}

.player-buttons{
	position: fixed;
	bottom: 21px;
	left: 278px;
	z-index: 5;
	transform: translate3d(20px, 0px, 0px);
	transition: transform 1s, opacity 1s;
	opacity: 0;
}
.player-button{
	display: block;
	transition: transform 0.25s;
}

.extra-buttons{
	position: fixed;
	top: 20px;
	right: 322px;
	z-index: 5;
	transform: translate3d(-20px, 0px, 0px);
	opacity: 0;
	transition: transform 1s, opacity 1s;
}
.mail-button{
	position: absolute;
	top: 96px;
	right: 0px;
}
.settings-button{
	position: absolute;
	top: 0px;
	right: 0px;
}
.info-button{
	position: absolute;
	top: 48px;
	right: 0px;
}
.settings-button:hover, .mail-button:hover, .info-button:hover{
	transform: translate3d(-3px, 0px, 0px);
}