.logo-watermark{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 150px;
	padding: 40px;
	opacity: 0.2;
	z-index: 5;
}

.current-user{
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	transition: opacity 0.5s;
	font-size: 15px;
	font-weight: lighter;
	z-index: 5;
}
.current-user p{
	color: rgba(59,61,63,0.75);
}
.strong{
	font-weight: bold;
	color: var(--text);
}

.loading{
	width: 100vw;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 9%;
	z-index: 1;
}
.spinner{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border-top: 4px solid var(--accent);
  border-left: 4px solid var(--light-3);
  border-right: 4px solid var(--light-3);
  border-bottom: 4px solid var(--light-3);
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
