.logo-watermark{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 150px;
	padding: 40px;
	opacity: 0.15;
	z-index: 5;
}

.current-user{
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	transition: opacity 0.5s;
	font-size: 15px;
	font-weight: lighter;
	z-index: 5;
}
.current-user p{
	color: rgba(59,61,63,0.75);
}
.strong{
	font-weight: bold;
	color: var(--text);
}