.settings{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100;
	display: none;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.settings-c{
	position: relative;
	width: 100%;
	max-width: 600px;
	padding: 30px;
	background: var(--light-2);
	border-radius: 2px;
	overflow: hidden;
	z-index: 101;
	transform: translate3d(0px, -15px, 0px);
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s;
}
.settings-bg{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s;
}
.settings-c p{
	margin-bottom: 15px;
	font-weight: lighter;
}
.settings-count{
	float: right;
	opacity: 0.75;
}

/* Slider */
#range{
	margin: 0px 12px;
}
.noUi-target{
  background: var(--light-3) !important;
  border: none !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  box-shadow: none !important;
}
.noUi-handle{
  right: -14px !important;
  width: 28px !important;
  outline: none !important;
  box-shadow: 0px 1px 0px var(--light-3) !important;
  border: none !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  background: var(--light) !important;
}
.noUi-handle::before{
  content: none !important;
}
.noUi-handle::after{
  content: none !important;
}
.noUi-connect{
  height: 100% !important;
  background: var(--accent) !important;
  cursor: pointer !important;
}
.noUi-tooltip {
    display: none !important;
}