.user{
	position: fixed;
	bottom: 21px;
	left: 20px;
	width: 250px;
	height: 325px;
	background: var(--light);
	border-radius: 2px;
	z-index: 10;
	overflow-y: scroll;
	opacity: 0;
	transform: translate3d(-40px, 0px, 0px);
	transition: transform 1s, opacity 1s;
	box-shadow: 0px 2px 0px #d1d2d9;
}
@media (max-width: 845px){
	.user{
		width: calc(100% - 40px);
		border-radius: 0px;
		height: 85px;
	}
}

.user-info{
	text-align: center;
	transition: opacity 0.25s;
	cursor: pointer;
}

.user-image{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-bottom: 15px;
	margin-top: 30px;
	cursor: pointer;
}
.user-name{
	margin-bottom: 4px;
	padding: 0px 30px;
	font-size: 20px;
	overflow-wrap: break-word;
	cursor: pointer;
}
.user-followers{
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 12px;
	opacity: 0.5;
	font-weight: lighter;
	cursor: pointer;
}
.user-info-fade{
	position: absolute;
	top: 0px;
	right: 0px;
	background: transparent;
	display: none;
	height: 85px;
	width: 125px;
	z-index: 11;
	box-shadow: inset -125px 0px 50px -30px var(--light);
}
@media (max-width: 845px){
	.user-image{
		width: 65px;
		height: 65px;
		float: left;
		margin: 10px 15px;
		margin-top: -10px;
	}
	.user-info{
		text-align: left;
	}
	.user-name{
		margin-top: 20px;
		width: 50000px;
	}
	.user-followers{
		margin-bottom: 0px;
	}
	.user-info-fade{
		display: block;
	}
}

.user-tracks{
	position: relative;
	overflow: hidden;
	width: 190px;
	margin: auto;
	list-style-type: none;
	margin-bottom: 20px;
	transition: opacity 0.25s;
}
@media (max-width: 845px){
	.user-tracks{
		background: pink;
		position: fixed;
		bottom: 0px;
		margin: 0px;
		width: calc(100vw - 40px);
		padding: 10px 20px;
		visibility: hidden;
	}
}
.user-tracks li{
	width: 10000px;
	height: 35px;
	overflow: hidden;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: transform 0.25s;
}
.user-tracks li:hover{
	transform: translate3d(3px, 0px, 0px);
}
.user-tracks li img{
	width: 20px;
	float: left;
	margin-right: 8px;
	cursor: pointer;
	pointer-events: none;
}
.user-tracks li p{
	float: left;
	opacity: 0.75;
	font-size: 15px;
	cursor: pointer;
	pointer-events: none;
	font-weight: lighter;
}
.user-tracks li:hover p{
	opacity: 1;
	color: var(--soundcloud);
}

.tracks-fade{
	position: absolute;
	right: 0px;
	height: 105px;
	width: 100px;
	background: none;
	z-index: 11;
	box-shadow: inset -40px 0px 20px -20px var(--light);
	pointer-events: none;
}

.open-track-button{
	height: 40px;
	width: 40px;
	background: pink;
	position: absolute;
	right: 15px;
	top: 23px;
	z-index: 12;
}
.burger{

}