.weekly{
	width: 300px;
	position: fixed;
	height: 100vh;
	top: 0px;
	right: 0px;
	background: var(--light-3);
	z-index: 5;
	opacity: 0;
	transform: translate3d(40px, 0px, 0px);
	transition: transform 1s, opacity 1s;
}