.weekly{
	width: 300px;
	position: fixed;
	height: 100vh;
	top: 0px;
	right: 0px;
	background: var(--light-3);
	z-index: 5;
	opacity: 0;
	transform: translate3d(40px, 0px, 0px);
	transition: transform 1s, opacity 1s;
}

/*
	Featured Artist div Title
*/
.featured-title{
	padding: 10px;
	border-bottom: 1px solid grey;
	margin-left:15px;
	margin-right:15px;
}

.featured-title p {
	color: var(--text);
	text-align: center;
}

/*
	Div containing all artists
*/
.featured{
	height: 300px;
	overflow: auto;
}

/*
	Div for each featured artist
*/