.weekly{
	width: 300px;
	position: fixed;
	height: 100vh;
	top: 0px;
	right: 0px;
	padding: 10px;
	background: var(--light-3);
	z-index: 5;
	opacity: 0;
	overflow-y: scroll;
	transform: translate3d(40px, 0px, 0px);
	transition: transform 1s, opacity 1s;
}

.section-title{
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-weight: lighter;
	opacity: 0.5;
	margin-bottom: 10px;
}

.weekly-section{
	background: rgba(0,0,20,0.05);
	border-radius: 2px;
	padding: 20px;
	margin-bottom: 10px;
}
.weekly-section:last-child{
	margin-bottom: 0px;
}

.featured-list{
	list-style-type: none;
	overflow: hidden;
}
.featured-list li{
	width: 500%;
	overflow: hidden;
	margin-top: 10px;
	cursor: pointer;
	transition: transform 0.25s;
}.featured-list li:hover{
	transform: translate3d(3px, 0px, 0px);
}
.featured-list img{
	float: left;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
}
.featured-info{
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}
.featured-info h3{
	cursor: pointer;
}
.featured-info p{
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;
	opacity: 0.75;
	cursor: pointer;
}


